{{ $e := "" -}}
{{- $true := eq 1 1 -}}
{{- $false := eq 1 0 -}}
{{- $thisFilePath := "layouts/partials/image.html" }}
{{- if not (isset . "ctx") -}}
  {{- errorf `%s:6:1: 'ctx' missing from 'image' partial dict` $thisFilePath -}}
{{- else -}}
  {{- if not (isset . "src") -}}
    {{- errorf `%s:9:1: 'src' missing from 'image' partial` $thisFilePath -}}
  {{- else -}}
    {{- $ctx := .ctx -}}
    {{- $src := replaceRE `^/(.*)$` "$1" .src 1 -}}
    {{- $class := .class | or "" -}}
    {{- $alt := .alt | or "" -}}
    <picture {{ with $class }}class="{{ . }}"{{ end }}>{{- $e -}}
    {{- if path.Ext $src | eq ".svg" -}}
        <img src="{{ $src | relURL | safeHTMLAttr }}" alt="{{- $alt -}}">{{- $e -}}
    {{- else -}}
      {{- $image := printf "images/%s" $src | resources.Get -}}
      {{- if not $image -}}
        {{- errorf `%s: image '%s' not found` $ctx.Position $src -}}
      {{- else -}}
        {{- $breakPoints := slice 360 414 640 750 800 1080 1366 1536 1920 2225 2560 -}}
        {{- $imageDetails := path.Join "assets" $image | imageConfig -}}
        {{- $largestDimensionIsWidth := gt $imageDetails.Width $imageDetails.Height -}}
        {{- $largestDimension := cond $largestDimensionIsWidth $imageDetails.Width $imageDetails.Height -}}
        {{- $heightToWidth := float $imageDetails.Width | div $imageDetails.Height -}}
        {{- $widthToHeight := float $imageDetails.Height | div $imageDetails.Width -}}
        <source srcset="
          {{- range $index, $breakPoint := $breakPoints -}}
            {{- $resizedImage := printf `%dx%d` $breakPoint $breakPoint | $image.Fit -}}
            {{- $resizedDetails := path.Join `assets` $resizedImage | imageConfig -}}
            {{- if $largestDimensionIsWidth -}}
              {{- $ctx.Scratch.Set `width` $breakPoint -}}
              {{- $ctx.Scratch.Set `height` ($heightToWidth | mul $breakPoint | math.Round | int) -}}
            {{- else -}}
              {{- $ctx.Scratch.Set `width` ($widthToHeight | mul $breakPoint | math.Round | int) -}}
              {{- $ctx.Scratch.Set `height` $breakPoint -}}
            {{- end -}}
            {{- $resizedWidth := $ctx.Scratch.Get `width` -}}
            {{- $resizedHeight := $ctx.Scratch.Get `height` -}}
            {{- if gt $largestDimension $breakPoint -}}
              {{- $resizedImage.RelPermalink }}{{ printf ` %dw` $resizedWidth | safeHTMLAttr }}{{ `, `}}
            {{- end -}}
          {{- end -}}
          " sizes="100vw" type="{{ $image.MediaType }}">{{- $e -}}
        <img src="{{- ($image.Fit `400x400`).RelPermalink -}}" alt="{{- $alt -}}">{{- $e -}}
      {{- end -}}
      </picture>{{- $e -}}
    {{- end -}}
  {{- end -}}
{{- end }}
