{{ $e := "" -}}
{{- $thisFilePath := "layouts/partials/image.html" }}
{{- if not (isset . "ctx") -}}
  {{- errorf `%s:5:1: 'ctx' missing from 'image' partial dict` $thisFilePath -}}
{{- end -}}
{{- if not (isset . "src") -}}
  {{- errorf `%s:8:1: 'src' missing from 'image' partial` $thisFilePath -}}
{{- end -}}
{{- $ctx := .ctx -}}
{{- $src := replaceRE `^/(.*)$` "$1" .src 1 -}}
{{- $class := .class | or "" -}}
{{- $alt := .alt | or "" -}}
{{- $image := printf "images/%s" $src | resources.Get -}}
{{- $imageDetails := path.Join "assets" $image | imageConfig -}}
{{- if not $image -}}
  {{- errorf `%s: image '%s' not found` $ctx.Position $src -}}
{{- else -}}
{{- $breakPoints := slice 400 600 800 1000 1500 2000 2500 3000 -}}
{{- $largestDimensionIsWidth := gt $imageDetails.Width $imageDetails.Height -}}
{{- $largestDimension := cond $largestDimensionIsWidth $imageDetails.Width $imageDetails.Height -}}
{{- $heightToWidth := float $imageDetails.Width | div $imageDetails.Height -}}
{{- $widthToHeight := float $imageDetails.Height | div $imageDetails.Width -}}
<picture {{ with $class }}class="{{ . }}"{{ end }}>{{- $e -}}
    <source srcset="
      {{- range $index, $breakPoint := $breakPoints -}}
        {{- $resizedImage := printf `%dx%d` $breakPoint $breakPoint | $image.Fit -}}
        {{- $resizedDetails := path.Join `assets` $resizedImage | imageConfig -}}
        {{- if $largestDimensionIsWidth -}}
          {{- $ctx.Scratch.Set `width` $breakPoint -}}
          {{- $ctx.Scratch.Set `height` ($heightToWidth | mul $breakPoint | math.Round | int) -}}
        {{- else -}}
          {{- $ctx.Scratch.Set `width` ($widthToHeight | mul $breakPoint | math.Round | int) -}}
          {{- $ctx.Scratch.Set `height` $breakPoint -}}
        {{- end -}}
        {{- $resizedWidth := $ctx.Scratch.Get `width` -}}
        {{- $resizedHeight := $ctx.Scratch.Get `height` -}}
        {{- if gt $largestDimension $breakPoint -}}
          {{- $resizedImage.RelPermalink }} {{ printf `%dw` $resizedWidth | safeHTMLAttr }}{{ `, `}}
        {{- end -}}
      {{- end -}}
      " sizes="100vw" type="{{ $image.MediaType }}">{{- $e -}}
    <img src="{{- ($image.Fit `400x400`).RelPermalink -}}" alt="{{- $alt -}}">{{- $e -}}
</picture>{{- $e -}}
{{- end }}
